body {
   font-family: "Roboto", sans-serif;
   font-size: 16px;
   color: #2c2c2c;
}

.container {
   width: 1280px;
   padding-left: 16px;
   padding-right: 16px;

   margin-left: auto;
   margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin: 0;
}

.link {
   text-decoration: none;
}

.list {
   list-style: none;
   margin: 0;
   padding: 0;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}
